[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/capsule"]
	path = themes/capsule
	url = https://github.com/sudorook/capsule
